.home {
  display: flex;
  justify-content: space-between;
}
.leftDiv {
  /* min-height: 20px;
  min-height: 20px; */
  margin-top: 10px;
  height: 87.3vh;

  width: 23vw;
  color: black;
  /* background-color: aqua; */
  /* border-right: 1px solid black; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  box-sizing: border-box;
  padding-left: 50px;
  justify-content: flex-start;
}

.checkbox {
  display: flex;
  justify-content: space-evenly;
}

.title {
  font-size: 22px;
  font-weight: 700;
  margin-top: 20px;
}
.sort {
  width: 10vw;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.sortTitle {
  font-weight: 700;
}
.sortTitle2{
  margin-top: 20px;
}
.sortInput {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 130px;
}
.date {
  margin-left: 23px;
}
.rightDiv {
  margin-top: 20px;
  height: 87.3vh;
  /* background-color: red; */
  width: 77vw;
}

.search {
  width: 90%;
  height: 30px;
  border-radius: 8px;
  /* background-color: red; */
  border: 1px solid black;
  box-sizing: border-box;
  padding-left: 40px;
  margin-right: 60px;
  position: absolute;
}
.searchIcon {
  left: 5px;
  position: absolute;
  z-index: 2;
}
.searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  position: relative;
}
.header {
  /* margin: 5px; */
  /* margin-left: 20px; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 97%;
  height: 50px;
  box-sizing: border-box;
  padding: 5px;
  padding-left: 20px;
  /* border: 1px solid red; */
}

.searchMenu {
  width: 100%;
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
}
.searchResult{
  margin-top: 20px;
}
.dash{
  height: 87.3vh;
  width: 23vw;
  display: flex;
  color: blue;
}
